.ex-back{
    background-image: url('../../../assets/home/chef-service.jpg');
    background-repeat: no-repeat; 
    
    background-attachment: fixed;
}
@media screen and (max-width: 600px) {
    .ex-back {
        background-size: 1000px;
    }
  }